@import "tailwindcss";

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* HTML / BODY */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: rgb(3, 7, 18);
  color: white;
}

/* TYPOGRAPHY */
p {
  line-height: 1.7;
}

/* SECTIONS */
section {
  width: 100%;
  padding-block: 6rem;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.5);
  border-radius: 5px;
}
